body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-style: normal;
  color: #333E50;
}

h2 {
  margin: 0;
  font-weight: 900;
  line-height: 30px;
}

h1 {
  margin-top: 0;
}

p {
  font-weight: 400;
  font-size: 16px;
}

a {
  color: #388EC3;
  cursor: pointer;
}

a:focus {
  color: #95CE5A;
}


hr {
  height: 1px;
  background-color: #E8ECEF;
  width: 100%;
  border: none;
  margin-top: 40px;
}

button {
  border-radius: 5px;
  padding: 0;
  border: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  transition: 0.4s;
  width: 158px;
  height: 45px;
  cursor: pointer;
}

.d-none {
  display: none;
}

.down {
  transform: rotate(180deg);
}

.default-button {
  background: #95CE5A;
  box-shadow: 0px 5px 10px rgba(149, 206, 90, 0.4);
  color: #FFFFFF;
}

.default-button:focus {
  border: 1px solid #333E50;
  color: #333E50;
}

.default-button:disabled {
  background: #ADB4BF;
  color: #FFFFFF;
}

.default-button:hover {
  background: #8CC459;
}

.grey-button {
  background: #FFFFFF;
  border: 1px solid #DADEE2;
  border-radius: 5px;
}

.grey-button:disabled {
  background: #DADEE2;
}

.grey-button:hover, .grey-button:focus {
  border: 1px solid #333E50;
}

.tabs__item .share__image, .score__image, .brokers__image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.obligation, .investment {
  padding-top: 40px;
  padding-left: 19%;
  padding-right: 19%;
}

.obligation__title {
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.obligation__description {
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}

.obligation__link {
  margin-top: 10px;
}

.obligation__flex {
  display: flex;
  justify-content: space-between;
}

.obligation__text {
  width: 70%;
}

.obligation__chart {
  padding: 15px 30px;
}

.obligation__search {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  display: flex;
  gap: 1rem;
  background: #F1F4F7;
  border: 1px solid #DADEE2;
  border-radius: 3px;
  padding: 15px 0 15px 40px;
  background: url(Group.svg) no-repeat 15px 15px;
}

.obligation__search {
  background-color: #F1F4F7;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: url(cross.svg);
  background-repeat: no-repeat;
}

input::placeholder {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ADB4BF;
}

input:focus {
  background-color: #FFFFFF;
}

input:disabled {
  background-color: #E4E9EE;
}

input[type="search"]::-webkit-search-cancel-button:disabled {
  color: #ADB4BF;
  background: url(disabled.svg);
  background-repeat: no-repeat;
}

input::placeholder:disabled {
  color: #ADB4BF;
}

.investment .investment__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.tabs__item {
  padding: 30px;
  border: 1px solid #E8ECEF;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.tabs__item p {
  margin-top: 10px;
}

.tabs__item:hover {
  box-shadow: 0px 5px 20px rgba(51, 62, 80, 0.15);
}

.tabs__item h2 {
  font-size: 22px;
}

.tabs__item p {
  line-height: 150%;
  margin-bottom: 0;
}

.row {
  display: flex;
  margin-bottom: 30px;
}

.tabs__item button {
  margin-top: 20px;
}

.share button, .dividends button {
  margin-top: 45px;
}

.share p, .score p, .brokers p {
  width: 70%;
}

.score__description {
  margin-bottom: 50px;
}

.obligations .obligations__button, .score .score__button {
  position: absolute;
  bottom: 30px;
}

.share, .score {
  width: 60%;
}

.obligations, .dividends {
  width: 40%;
}

.share, .dividends, .brokers, .share-table {
  margin-right: 30px;
}

.brokers, .share-table, .training, .calendar {
  width: 50%;
}

.share-table__tab {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
  transition: 0.3s;
}

#tab-1:checked~.share-table__tab-1,
#tab-2:checked~.share-table__tab-2 {
  border-bottom: 3px solid #95CE5A;
}

.share-table__tabs>.share-table__tab:not(:first-of-type) {
  margin-left: 30px;
}

.share-table__tabs>input[type="radio"] {
  display: none;
}

.share-table__tabs>div {
  display: none;
  padding: 10px 15px;
  font-size: 16px;
}

#tab-1:checked~#share-table__content-1,
#tab-2:checked~#share-table__content-2 {
  display: block;
}

.share-table__tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  cursor: pointer;
}

.share-table__tabs>input[type="radio"]:checked+label {
  background-color: #fff;
}

.share-table__tabs hr {
  margin-bottom: 15px;
}

.share-table__tabs .share-table__content {
  padding: 5px 0 0;
  border-top: 1px solid #E8ECEF;
}

.share-table__content table {
  width: 100%;
  border-spacing: 0;
}

.share-table__content thead {
  font-size: 12px;
  line-height: 15px;
  color: #9299A2;
}

.share-table__content tr > td:not(:first-of-type) {
  text-align: end;
}

.share-table__content tbody tr > td:first-of-type {
  width: 60%;
}

.share-table__content td {
  border-bottom: 1px solid #E8ECEF;
  padding: 10px 0;
}

.share-table__content tbody td {
  border-bottom: 1px solid #E8ECEF;
  padding: 6px 0 5px;
}

.share-table__ticker {
  display: flex;
}

.share-table__image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 5px 0;
  margin-right: 10px;
}

.share-table__link {
  font-size: 16px;
  line-height: 19px;
}

.tabs__item .share-table__reduction, .calendar__data {
  margin: 5px 0 0;
  font-size: 12px;
  line-height: 15px;
  color: #9299A2;
}

.tabs__item .share-table__price {
  line-height: 150%;
  margin: 0;
}

.share-table__changes p {
  margin: 0;
}

.share-table__changes__up {
  color: #7FC03C;
}

.share-table__changes__down {
  color: #ED2C35;
}

.share-table__more {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.share-table__updated {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ADB4BF;
  margin: 0;
}

.share-table__flex {
  display: flex;
  justify-content: space-between;
}

.share-table__select {
  font-size: 16px;
  line-height: 19px;
  background: #FFFFFF;
  border: 1px solid #E8ECEF;
  border-radius: 3px;
  padding: 7.5px 27px 7.5px 10px;
  appearance: none;
  color: #333E50;
  background: url(arrow.svg) no-repeat right;
  background-position-x: calc(100% - 8px);
  cursor: pointer;
}

.calendar hr {
  margin: 9px 0 9px;
}

.calendar__title {
  margin-bottom: 20px;
}

.calendar__title {
  margin-bottom: 0;
}

.tabs__item .calendar__data {
  margin-top: 20px;
}

.calendar__row {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.calendar__time {
  font-size: 12px;
  line-height: 15px;
  padding: 3px 5px;
}

.calendar__time__active {
  background: #FFE6E7;
  border-radius: 50px;
}

.calendar__image {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.calendar__status {
  height: 5px;
  width: 5px;
  border-radius: 100%;
}

.calendar__status__red {
  background: #ED2C35;
}

.calendar__status__yellow {
  background: #F4B207;
}

.calendar__status__green {
  background: #95CE5A;
}

.calendar__event {
  font-size: 14px;
  line-height: 20px;
}

.calendar__more {
  margin-top: 40px;
}

.tabs__item .share-table__updated {
  margin: 0;
}

@media screen and (max-width: 1450px) {
  .share__image, .score__image, .brokers__image {
    width: 150px;
  }
}

@media screen and (max-width: 1300px) {
  .obligation, .investment {
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 800px) {
  .obligation, .investment {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .tabs .row  {
    display: block;
    position:relative
  }

  .tabs__item {
    width: 90%;
  }

  .tabs__item button {
    margin-top: 20px;
  }

  .tabs__item.obligations, .tabs__item.score, .tabs__item.training, .tabs__item.calendar {
    margin-top: 20px;
  }

  .share p, .score p {
    width: 100%;
  }

  .brokers p {
    width: 90%;
  }

  .obligations .obligations__button, .score .score__button {
    position: static;
  }

  .obligation__chart {
    display: none;
  }

  .obligation__text {
    width: 100%;
  }

  .investment__title {
    margin-top: 20px;
  }

  .share__image, .score__image, .brokers__image {
    width: 110px;
  }

  .share-table__more {
    display: block;
  }

  .calendar__item {
    display: block;
  }

  .calendar__date {
    display: none;
  }

  .calendar__link {
    margin-top: 20px;
  }

  .obligation__description {
    margin: 0;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .obligation__link {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .tabs__item {
    width: 85%;
  }
}
